.information-sidebar-opened {
  width: 20%;
  height: 100vh;
  background: #f2f2f2;
  padding: 20px;
}

.sidebar-button {
  cursor: pointer;
  background: transparent;
  border: none;
  cursor: pointer;
}
.sidebar-icon {
  width: 60px;
  height: 60px;
  transition: opacity 0.2s ease;
}

.sidebar-button:hover .sidebar-icon {
  opacity: 0.2; /* 100% helyett 60% láthatóság */
  transition: opacity 0.2s ease; /* Hogy ne ugorjon, hanem szépen halványuljon */
}
