.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: grab;
}

.viewport.grabbing {
  user-select: none;
}

.family-tree {
  cursor: grab;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  padding: 40px;
}

.viewport:active {
  cursor: grabbing;
}
